# dependencies
node_modules

# build output
dist
.next
.turbo
*.tsbuildinfo
apps/web/next-env.d.ts

# environment
.env
*.env.local

# prisma
apps/api/generated

# database
.muxai-db

# pm2
ecosystem.config.js
*.pm2

# os / editor
.DS_Store
Thumbs.db
.vscode
.idea

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# plans
/plans
/reference